$typography : 'IM Fell Great Primer SC', serif;
$typography2 : 'Archivo', sans-serif;

$text-colors:(
    "black" : black,
    "white" : white,
);

$background-color:(
    "black" : black,
    "light-black" : rgba(0, 0, 0, 0.971),
    "light.black2" : rgba(0, 0, 0, 0.823),
    "light-grey" : rgba(255, 255, 255, 0.704),
    "white" : white,
    "green" : #18db25,
    "strong-green" : #39BF42,
); 

