//PORTADA
.portada {
	background-image: url(../../images/fondo-pantalla-2.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 100vh;
}

//SERVICIOS
.servicios__opcion {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.servicios__info {
	width: 400px;
	margin: 10px 10px;
	margin-top: 20px;
}

.turnos {
	& a {
		padding: 15px;
		border-radius: 10px;
	}
}

a .fa-whatsapp {
	font-size: 28px;
}

.turnos a:hover {
	background-color: #18db25;
}

//GALERIA
//Padre
.galeria__publicidad {
	display: grid;
	grid-template-columns: repeat(3, 200px);
	grid-template-rows: repeat(4, 200px);
	place-content: center;
	gap: 20px;
	grid-auto-flow: dense;
	/*Busca la manera de acomodar todo los elementos*/
}

.publicidad {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover; //tamaño de imagen automatico
}

.publicidad:nth-child(1) {
	background-image: url(../../images/baño-golden.jpg);
}

.publicidad:nth-child(2) {
	background-image: url(../../images/corte-de-lagrimales.jpg);
}

.publicidad:nth-child(3) {
	background-image: url(../../images/corte-caniche.jpg);
	grid-column: 3;
	grid-row: 1/3;
}

.publicidad:nth-child(4) {
	background-image: url(../../images/corte-de-uñas-maltes.jpg);
}

.publicidad:nth-child(5) {
	background-image: url(../../images/peinado-gato2.jpg);
}

.publicidad:nth-child(6) {
	background-image: url(../../images/panoramica-peluqueria.jpg);
	grid-column: 2/4;
}

.publicidad:nth-child(7) {
	background-image: url(../../images/secado-de-pup.jpg);
	grid-row: 3/5;
}

.publicidad:nth-child(8) {
	background-image: url(../../images/secado-perro-comun.jpg);
}

.publicidad:nth-child(9) {
	background-image: url(../../images/peinado-gato.jpg);
}

//COLOCAR BIEN CON SASS
// @media screen and (max-width: 750px) {
// 	.galeria__publicidad {
// 		display: flex;
// 		flex-wrap: wrap;
// 	}

// 	.publicidad {
// 		width: 200px;
// 		height: 200px;
// 	}
// }

//PELUQUERO

.imagen__perfil {
	margin-left: 220px;
	margin-top: 70px;
}

.perfil__peluquero {
	float: left;
	margin-right: 80px;
	margin-top: -60px;

	& img {
		width: 300px;
	}
}

.perfil__info {
	margin-bottom: 300px;
}

//CONTACTO

.container {
	width: 100%;
}

.formulario {
	display: flex;
	justify-content: center;
	align-items: center;
}

.formulario__contacto {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 20px 0 12px 0;

	& .input-box {
		margin-bottom: 10px;
		width: calc(100% / 2 - 100px); //AVERIGUAR QUE HACE calc
	}

	& .input-box input {
		height: 45px;
		width: 100%;
		border: black 1px solid;
		outline: none;
		/*Anula el borde  que aprece al selecionar una caja*/
		font-size: 1.2rem;
		border-radius: 5px;
		border: 1px solid black;
		padding-left: 20px;
	}
}

.consulta textarea {
	width: 100%;
	height: 300px;
	resize: none;
	border-radius: 5px;
	border: 1px solid black;
	outline: none;
	margin-top: 20px;
	font-size: 1.2rem;
	padding: 10px 20px;
}