//*VENTANA MODAL
.ventana-modal {
	margin: 20px auto;
	background: linear-gradient(#000000, #5A5A5A);
	padding: 20px;
	width: 450px;
	line-height: 150%;
	border-radius: 3%;
	z-index: 100;
	text-align: center;
	transform: scale(1);
	transition: .90s ease-in all;
	font-family: $typography;

	

	& img {
		width: 150px;
		border-radius: 100%;
		display: block;
		margin: auto;
	}

	& .activo {
		display: block;
		/* Se muestra aviso */
	}

}


.fondo-modal {
	display: none;
	background-color: #000000ea;
	height: 100vh;
	z-index: 99;
	padding-top: 100px;
	position: fixed;
	/* *Fijamos fondo */
	z-index: 99;
	/* *Colocacion detras del bloque cookies */
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}

.fondo-modal.activo {
	display: block;
}

//*PORTADA
.portada {
	background-image: url(../images/pexels-simona-kidrič-2607544.jpg);  
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: auto;
}


//*SERVICIOS
.servicios__opcion {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.servicios__info {
	width: 400px;
	margin: 10px 10px;
	margin-top: 20px;
}

.turnos {
	& a {
		padding: 15px;
		border-radius: 10px;
	}
}


//*PELUQUERO
.imagen__perfil {
	margin-left: 20%;
	margin-top: 70px;
}

.perfil__peluquero {
	float: left;
	margin-right: 80px;
	margin-top: -60px;

	& img {
		max-width: 300px;
	}
}

.perfil__info {
	margin-bottom: 300px;
}

//*CONTACTO
.container {
	width: 100%;
}

.formulario {
	display: flex;
	justify-content: center;
	align-items: center;
}

.formulario__contacto {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 20px 0 12px 0;

	& .input-box {
		margin-bottom: 10px;
		width: calc(100% / 2 - 100px); //todo: calc (calcula)
	}

	& .input-box input {
		height: 45px;
		width: 100%;
		border: black 1px solid;
		outline: none; //TODO: Anula el borde  que aprece al selecionar una caja
		font-size: 1.2rem;
		border-radius: 5px;
		border: 1px solid black;
		padding-left: 20px;
	}
}

.consulta textarea {
	width: 100%;
	height: 300px;
	resize: none;
	border-radius: 5px;
	border: 1px solid black;
	outline: none;
	margin-top: 20px;
	font-size: 1.2rem;
	padding: 10px 20px;
}

.foto__mascota span {
	color: black;
	font-size: 1.2rem;
	font-family: 'IM Fell Great Primer SC', serif;
}

.foto__mascota input {
	display: block;
	margin: auto;
}



//!RESPONSIVE
.ventana-modal img{
	@include tablet{
		width: 130px;
	}
	@include celularDos{
		width: 110px;
	}
}
.ventana-modal{
	@include tabletMin{
		width: 350px;
	}
	@include celular{
		width:300px ;
	}
}
.portada {
	@include tablet {
		background-size: 100% 100%;
		height: 70vh;
	}

	@include tabletMin {
		background-size: 100% 100%;
		height: 30vh;
	}

	@include celular {
		background-size: 100% 100%;
		height: 20vh;
	}
}

.portada__sub {
	@include celularDos {
		display: none;
	}
}


.perfil__peluquero {
	@include tablet {
		margin-right: 50px;
	}

	@include celular {
		margin: auto;
	}
}

.perfil__peluquero img {
	@include celular {
		max-width: 80%;
	}
}


.formulario__contacto .input-box {
	@include tabletMin {
		width: calc(100% / 2 - 30px);
	}

	@include celular {
		width: calc(100% / 1 - 0px);
	}
}

.formulario__contacto .input-box input {
	@include tablet {
		font-size: 1rem;
	}
}

.consulta textarea {
	@include tablet {
		font-size: 1rem;
	}
}

