* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed; //TODO: Tiene que estar esta función (position:fixed) para usar z-index
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: 0.7s;
    /* padding: 30px 20px; */
    padding: 0.5rem 0;
    z-index: 10; // TODO: Es para elegir la posición de los elemeno (delante o  detras podemos uner z-index:1;(Por defecto),z-index:2;, normalmente usamos para arriba z-index:10; ) 
    
}

.menu ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    & a {
        text-decoration: none;
    }

}


.menu-abajo {
    background-color: map-get($background-color , "light.black2");
    padding: 15px 20px;
}

header.menu-abajo .logo,
header.menu-abajo ul li a,
header.menu-abajo ul .icon,
header.menu-abajo label .fa-bars {
    color: map-get($text-colors, "white");
}

//*MENU
.fa-bars {
    font-size: 40px;
}

.fa-bars,
#check {
    display: none;
}

//!RESPONSIVE

header {
    @include celular {
        background-color: transparent;
    }

}

header {
    @include tabletMin {
        padding: 15px 20px;
    }
}

header .chekbtn {
    @include tabletMin {
        display: block;
    }
}

header .fa-bars {
    @include tabletMin {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        color: map-get($text-colors , "black");
        transition: 3.5s;
    }
}

header .menu ul {
    @include tabletMin {
        display: block;
        position: fixed;
        top: 78px;
        left: -100%;
        background-color: map-get($background-color , "light-black");
        width: 100%;
        height: 100vh;
        right: 0; //TODO: alineacion a la derecha
    }
}
header .menu ul li {
    @include tabletMin {
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0;
    }
}
header #check:checked~ul {
    @include tabletMin {
        //TODO: ~ seleciona a todo los elementos
        left: 0;
        transition: all .25s;
    }
}
.menu-abajo {
    @include tabletMin {
        background-color: map-get($background-color , "light-black");
    }
}
.menu a .icon {
    @include tabletMin {
        color: map-get($text-colors, "white");
        margin: 20px;
    }
}
.menu-abierto .menu ul {
    @include celular {
        left: 0;
    }
}
.menu-abierto {
    @include celular {
        /* Estilos adicionales para cuando el menú está abierto */
        background-color: rgba(0, 0, 0, 0.5);
    }

}