* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed; // Tiene que estar esta función (position:fixed) para usar z-index
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: 0.7s;
    padding: 30px 20px;
    z-index: 10; //Es para elegir la posición de los elemeno (delante o  detras podemos uner z-index:1;(Por defecto),z-index:2;, normalmente usamos para arriba z-index:10; )

}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    & a {
        text-decoration: none;
    }

    & .icon {
        position: relative;
        display: flex;
        justify-content: center;
        color: black;
        font-size: 30px;
        transition: 3.5s;
        text-decoration: none;
    }
}


.menu-abajo {
    background: rgba(0, 0, 0, 0.823);
    padding: 15px 20px;
}

header.menu-abajo .logo,
header.menu-abajo ul li a,
header.menu-abajo ul .icon,
header.menu-abajo label .fa-bars {
    color: white;
}

//Menu

.fa-bars {
    font-size: 40px;
}

.fa-bars,
#check {
    display: none;
}

//RESPONSIVE

header {
    @include tabletMin {
        padding: 15px 20px;
    }
}

header .chekbtn {
    @include tabletMin {
        display: block;
    }
}

header .fa-bars {
    @include tabletMin {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        color: black;
        transition: 3.5s;
    }
}

header .menu ul {
    @include tabletMin {
        display: block;
        position: fixed;
        top: 78px; //Modificar sigun tamaño de letra del logo
        left: -100%;
        background: rgba(0, 0, 0, 0.971);
        width: 100%;
        height: 100vh;
        right: 0; //alineacion a la derecha
    }
}

header .menu ul li {
    @include tabletMin {
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0;
    }
}

/* .menu ul li:last-child{ //Averiguar que hace el :last-child 
        background: none;
        padding: 1rem;
} */
header #check:checked~ul {
    @include tabletMin {
        // ~ seleciona a todo los elementos
        left: 0;
        transition: all .25s;
    }
}

.menu-abajo {
    @include tabletMin {
        background: black;
    }
}
.menu a .icon{
    @include tabletMin{
      color: aliceblue;
      margin: 20px;
    }
}
