//*VENTANA MODAL
.ventana-modal{
	& h1 {
		color: white;
		font-size: 2.5rem;
	}

	& p {
		color: white;
		font-size: 1.4rem;
	}
	
	& a {
		font-size: 2rem;
		background-color: #39BF42;
		color: white;
		text-decoration: none;
		padding: 5px;
		border-radius: 12px;
	}

	& a:hover {
		background-color: #18db25;
	}
}
//*MENU
header{
	background-color: rgba(255, 255, 255, 0.601);
}
.menu ul li a {
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color: map-get($text-colors, "black");
	font-size: 1.3rem;
	transition: 3.5s;
	font-family: $typography;
	font-weight: 600;
	letter-spacing: 2px; //todo: Separacion de letras
}

.logo {
	position: relative;
	text-align: center;
	color: map-get($text-colors, "black");
	font-size: 1.3rem;
	transition: 3.5s;
	text-decoration: none;
	font-family: $typography;
	font-weight: 600;
	letter-spacing: 2px;

	&:hover {
		color: map-get($text-colors, "black");
	}
}

//*PORTADA
.portada {
	text-align: center;

	& .portada__sub {
		padding: 190px;
	}

	& h2 {
		color: map-get($text-colors, "black");
		font-size: 3rem;
		font-family: $typography;
		font-weight: 600;
		letter-spacing: 2px;
		position: relative;
		bottom: 200px;
	}

	& a {
		color: map-get($text-colors, "white");
		background-color: map-get($background-color, "black");
		font-size: 1.5rem;
		text-decoration: none;
		font-family: $typography;
		font-weight: 600;
		letter-spacing: 2px;
		position: relative;
		bottom: 150px;
	}

	& a:hover {
		color: map-get($text-colors, "black");
		background-color: map-get($background-color , "light-grey");
	}
}

//*SERVICIOS
.servicios h3 {
	color: map-get($text-colors, "white");
	background-color: map-get($background-color, "black");
	text-align: center;
	font-size: 2rem;
	width: 500px;
	display: block;
	margin: auto;
	font-family: 'IM Fell Great Primer SC', serif;
	letter-spacing: 2px;
}

.servicios__info {

	& .title {
		text-align: center;
		color: map-get($text-colors, "black");
		font-size: 1.5rem;
		font-family: $typography;
		letter-spacing: 2px;
	}

	& p {
		text-align: center;
		color: map-get($text-colors, "black");
	}
}

.turnos {
	text-align: center;

	& a {
		text-decoration: none;
		background-color: map-get($background-color , "strong-green");
		color: map-get($text-colors, "white");
		font-size: 1.4rem;
		font-family: $typography;
		letter-spacing: 2px;
	}

	& a:hover {
		background-color: map-get($background-color , "green");
	}
}



//*GALERIA
.galeria h2 {
	color: map-get($text-colors, "white");
	background-color: map-get($background-color, "black");
	text-align: center;
	font-size: 2rem;
	width: 180px;
	display: block;
	margin: auto;
	font-family: $typography;
	letter-spacing: 2px;
}

//*PELUQUERO
.peluquero {
	color: map-get($text-colors, "white");
	background-color: map-get($background-color, "black");
	text-align: center;
	font-size: 2rem;
	width: 250px;
	display: block;
	margin: auto;
	font-family: $typography;
	letter-spacing: 2px;
}

.imagen__perfil {

	figcaption {
		color: map-get($text-colors, "black");
		font-size: 1rem;
		font-family: $typography;
		font-weight: 400px;
	}

	.perfil__info p {
		color: map-get($text-colors, "black");
		font-size: 1.2rem;
		margin-top: 40px;
		font-family: 'Archivo', sans-serif;
		font-weight: 400;
	}

	.perfil__info a {
		color: map-get($text-colors, "black");
		font-size: 1.2rem;
		text-decoration: none;
		font-family: $typography2;
		font-weight: 400;
	}

	.perfil__info span {
		color: map-get($text-colors, "black");
		font-size: 1.2rem;
		font-weight: 600;
		text-decoration: none;
		font-family: $typography2;
		font-weight: 400;
	}
}

//*CONTACTO
.contacto h2 {
	color: map-get($text-colors, "white");
	background-color: map-get($background-color, "black");
	text-align: center;
	font-size: 2rem;
	width: 250px;
	display: block;
	margin: auto;
	font-family: $typography;
	letter-spacing: 2px;
}

.contacto__info {
	text-align: center;
	color: map-get($text-colors, "black");
	font-size: 1.2rem;
	font-family: $typography2;
	font-weight: 400;
}

.input-box .datos {
	display: bock;
	font-weight: 500;
	color: map-get($text-colors, "black");
	margin-bottom: 5px;
	font-size: 1.2rem;
	background-color: map-get($background-color , "white");
	position: relative;
	top: 12px;
	left: 12px;
	font-family: $typography;
}

.consulta .datos-dos {
	color: map-get($text-colors, "black");
	font-size: 1.2rem;
	background-color: map-get($background-color , "white");
	position: relative;
	top: 32px;
	left: 12px;
	font-family: $typography;
}

//*PIE DE PAGINA
.pie__pagina {
	font-family: $typography2;
	font-weight: 400;

	& h5 {
		color: map-get($text-colors, "white");
		font-size: 1.3rem;
		letter-spacing: 2px;
		text-align: center;
	}

	& a {
		color: map-get($text-colors, "white");
		font-size: 1rem;
		text-decoration: none;
	}
}

.politica__derechos {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	color: map-get($text-colors, "white");
	font-size: 0.8rem;
	font-family: $typography2;
	font-weight: 200;
}


//!RESPONSIVE
.logo {
	@include tablet {
		font-size: 1rem;
		margin-left: -60px;
	}
}

.menu ul li a {
	@include tablet {
		font-size: 1rem;

	}

	@include tabletMin {
		color: map-get($text-colors, "white");
		font-size: 1rem;
	}
}
.ventana-modal a:hover{
	@include tablet{
		background-color: none;
	}
}
.ventana-modal h1{
	@include celular{
		font-size: 1.5rem;
	}
}
.ventana-modal p, .ventana-modal a{
	@include tabletMin{
		font-size: 1.2rem;
	}
}

.portada h2 {
	@include tablet {
		font-size: 2rem;
	}

	@include tabletMin {
		font-size: 1.5rem;
		top: -300px;
	}

	@include celular {
		font-size: 1rem;
		display: none;
	}
}

.portada a {
	@include tabletMin {
		font-size: 1.2rem;
		top: -270px;
	}

	@include celular {
		display: none;
	}
}

.servicios h3 {
	@include tabletMin {
		font-size: 1rem;
		width: 300px;
	}
}

.turnos a {
	@include tabletMin {
		font-size: 1rem;
	}
}

.galeria h2 {
	@include tabletMin {
		font-size: 1rem;

	}
}

.peluquero h2 {
	@include tabletMin {
		font-size: 1rem;

	}
}

.contacto h2 {
	@include tabletMin {
		font-size: 1rem;
	}
}

.imagen__perfil .perfil__info p {
	@include celular {
		text-align: center;
		padding-right: 50px;
	}
}

.imagen__perfil figcaption {
	@include celular {
		margin-bottom: 20px;
	}
}

.pie__pagina h4,
.pie__pagina a {
	@include tabletMin {
		font-size: 1rem;
	}

	@include celular {
		font-size: 0.8rem;
	}
}

.politica__derechos {
	@include celular {
		font-size: 0.7rem;
	}
}