//MENU
.menu ul li a {
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color: black;
	font-size: 1.3rem;
	transition: 3.5s;
	font-family: 'IM Fell Great Primer SC', serif;
	font-weight: 600;
	letter-spacing: 2px; //Separacion de letras
}

.logo {
	position: relative;
	text-align: center;
	color: black;
	font-size: 1.6rem;
	transition: 3.5s;
	text-decoration: none;
	font-family: 'IM Fell Great Primer SC', serif;
	font-weight: 600;
	letter-spacing: 2px;
}

//PORTADA
.portada {

	& .portada__sub{
		padding: 190px;
	}
	& h1 {
		color: black;
		font-size: 3rem;
		text-align: center;
		padding: 40px;
		font-family: 'IM Fell Great Primer SC', serif;
		font-weight: 600;
		letter-spacing: 2px;
	}

	& a {
		color: white;
		background-color:rgba(0, 0, 0, 0.852);
		font-size: 1.5rem;
		text-decoration: none;
		margin-left: 43%;
		font-family: 'IM Fell Great Primer SC', serif;
		font-weight: 600;
		letter-spacing: 2px;
	}
	& a:hover{
		color: black;
		background-color: rgba(255, 255, 255, 0.704);
	}
}

//SERVICIOS
.servicios h2 {
	color: white;
	background-color: black;
	text-align: center;
	font-size: 2rem;
	width:500px;
	display: block;
	margin: auto;
	font-family: 'IM Fell Great Primer SC', serif;
	letter-spacing: 2px;
}
.servicios__info{
	
	& .title{
		text-align: center;
		color: black;
		font-size: 1.5rem;
		font-family: 'IM Fell Great Primer SC', serif;
		letter-spacing: 2px;
	}
	& p{
		text-align: center;
		color: black;
	}
}

.turnos{
	text-align: center;
	& a{
		text-decoration: none;
		background-color: #39BF42;
		color: white;
		font-size: 1.4rem;
		font-family: 'IM Fell Great Primer SC', serif;
		letter-spacing: 2px;
	}
}

//GALERIA
.galeria h2 {
	color: white;
	background-color: black;
	text-align: center;
	font-size: 2rem;
	width:180px;
	display: block;
	margin: auto;
	font-family: 'IM Fell Great Primer SC', serif;
	letter-spacing: 2px;
}

//PELUQUERO
.peluquero{
	color: white;
	background-color: black;
	text-align: center;
	font-size: 2rem;
	width:250px;
	display: block;
	margin: auto ;
	margin-bottom: 150px;
	font-family: 'IM Fell Great Primer SC', serif;
	letter-spacing: 2px;
}

  .imagen__perfil{

	figcaption{
		color: black;
		font-size: 1rem;
		font-family: 'IM Fell Great Primer SC', serif;
		font-weight: 400px;
	}

	.perfil__info p {
		color: black;
		font-size: 1.2rem;
		margin-top: 40px;
		font-family: 'Archivo', sans-serif;
		font-weight: 400;
	} 

	.perfil__info a{
		color: black;
		font-size: 1.2rem;
		text-decoration: none;
		font-family: 'Archivo', sans-serif;
		font-weight: 400;
	}

	.perfil__info span{
		color:rgba(0, 0, 0, 0.767);
		font-size: 1.2rem;
		font-weight: 600;
		text-decoration: none;
		font-family: 'Archivo', sans-serif;
		font-weight: 400;
	}
}  

//CONTACTO
.contacto h2{
	color: white;
	background-color: black;
	text-align: center;
	font-size: 2rem;
	width:250px;
	display: block;
	margin: auto;
	font-family: 'IM Fell Great Primer SC', serif;
	letter-spacing: 2px;
}

.contacto__info{
	text-align: center;
	color: black;
	font-size: 1.2rem;
	font-family: 'Archivo', sans-serif;
	font-weight: 400;
}
.input-box .datos {
	display: bock;
	font-weight: 500;
	color: black;
	margin-bottom: 5px;
	font-size: 1.2rem;
	background-color: white;
	position: relative;
	top: 12px;
	left: 12px;
	font-family: 'IM Fell Great Primer SC', serif;
}

.consulta .datos-dos{
	color: black;
	font-size: 1.2rem;
	background-color: white;
	position: relative;
	top: 32px;
	left: 12px;
	font-family: 'IM Fell Great Primer SC', serif;
}

//PIE DE PAGINA

.pie__pagina{
	font-family: 'Archivo', sans-serif;
	font-weight: 400;
	& h4{
		color: white;
	font-size: 1.6rem;
	letter-spacing: 2px;
	text-align: center;
	}

	& a{
		color: white;
		font-size: 1.2rem;
		text-decoration: none;
	}
}
.politica__derechos {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	color: white;
	font-size: 0.8rem;
	font-family: 'Archivo', sans-serif;
	font-weight: 200;
}


